@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #dddddd;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    height: 100vh;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.lid {
    width: 380px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ddd;
}

.table-container {
    max-height: 865px;
    max-width: 800px;
    min-width: 800px;
    padding: 15px;
    background-color: #fff;
    overflow-y: auto;
    font-size: large;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.table-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
  
.table-container::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}
  
.table-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.clo {
    display: flex;
}

.clo2 {
    display: block;
    padding-left: 50px;
}

h2 {
    color:#aaa;
    text-align: left;
}

.in {
    display: block;
    border: 2px solid #aaa;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: 0.3s;

}

.in:hover {
    border-color: #0081B8;
} 
.in:focus{
    outline-color: #0081B8;
}  

.ino {
    display: flex;
    border: 2px solid #aaa;
    max-width: 200px;
    min-width: 200px;
    height: 150px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: 0.3s;

}

.itn {
    text-decoration: none;
    color: #777;
    background-color: #ccc;
    padding-right: 0px;
    padding-left: 45px;
    border-radius: 5px;
}

.ininn {
    text-decoration: none;
    color: #0611a7;
    background-color: #ccc;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
}

.ino:hover {
    border-color: #0081B8;
} 
.ino:focus{
    outline-color: #0081B8;
}  

.lin {
    float: left;
    position: relative;
    bottom: 20px;
    font-size: 15px;
    width: 200px;
    padding: 10px 15px;
    background-color: #bbb;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    transition: 0.3s;
}

.lin:hover {
    background-color: #888;
    color: #fff;
}

label {
    color: #aaa;
}

.cr {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #0081B8;
}

.cr:hover {
    text-decoration: underline;
}

.error{
    border: 1px solid red;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #bbb;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #888;
    color: #fff;
}

input[type="file"]::-webkit-file-upload-button:active {
    background-color: #888;
    color: #fff;
}

#picture__input {
    display: none;
  }
  
.picture {
    width: 200px;
    margin-left: 10px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

.search-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    font-size: 14px;
    margin-top: 5px;
    width: 200px;
}

  /* Estilo para o botão de pesquisa */
  .search-button {
    padding: 8px 16px;
    width: 200px;
    background-color: #bbb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: 8px;
    margin-top: 5px;
    transition: 0.5s;
}

  /* Estilo para o botão de pesquisa quando hover */
  .search-button:hover {
    background-color: #888;
    width: 200px;
    
}

.bun {
    max-height: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.search-button:focus {
    color: #888;
}


